# vscode
.vscode/
.vscode/*

# Things to ignore from preprocess
# We first ignore everything
preprocess/*

# But we want to keep these
!preprocess/environment.yml
!preprocess/main.py
!preprocess/multispeaker_remover.py
!preprocess/pyannote_diarize.py
!preprocess/README.md

# Things to ignore from models/xtts-finetune-cli
# We first ignore everything
models/xtts-finetune-cli/*
models/xtts-finetune-cli/utils/__pycache__/

# But we want to keep these
!models/xtts-finetune-cli/main.py
!models/xtts-finetune-cli/README.md
!models/xtts-finetune-cli/environment.yml
!models/xtts-finetune-cli/utils/
!models/xtts-finetune-cli/utils/formatter.py
!models/xtts-finetune-cli/utils/gpt_train.py
!models/xtts-finetune-cli/utils/tokenizer.py
!models/xtts-finetune-cli/utils/xtts_header.py

# Things to ignore from models/yourtts
# We fist ignore everything
models/yourtts/*

# But we want to keep these
!models/yourtts/main.py
!models/yourtts/README.md

# Things to ignore from scores/wespeaker
# We first ignore everything
scores/wespeaker/*

# But we want to keep these
!scores/wespeaker/compare.py
!scores/wespeaker/environment.yml
!scores/wespeaker/pipe.sh
!scores/wespeaker/README.md
